<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="" exactDestination="false" childOnly="false" httpResponseStatus="Temporary" />
        <directoryBrowse enabled="false" />
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="default.html" />
                <add value="default.htm" />
                <add value="default.asp" />
                <add value="default.aspx" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="index.cfm" />
                <add value="index.asp" />
                <add value="index.aspx" />
                <add value="awstats.pl" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="CGI Script Map" path="*.cgi" verb="5,GET,HEAD,POST" modules="CgiModule" scriptProcessor="c:\Perl\bin\perl.exe &quot;%s&quot; %s" resourceType="File" />
            <add name="Perl Script Map" path="*.pl" verb="5,GET,HEAD,POST" modules="CgiModule" scriptProcessor="c:\Perl\bin\perl.exe &quot;%s&quot; %s" resourceType="File" />
            <add name="PHP" path="*.php" verb="*" modules="CgiModule" scriptProcessor="c:\program files (x86)\php\php.exe" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
